<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/lnganalysis</property><!-- ogdevdb -->
		<property name="connection.username">root</property>
		<property name="connection.password">mysqlroot123</property>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	 	<!-- <property name="hbm2ddl.auto">create</property>-->
		 <property name="show_sql">true</property>
		 
		 
		<!--<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:hsql://localhost:9010</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		 <property name="hbm2ddl.auto">create</property>
		  <property name="show_sql">true</property>-->
		
		<mapping resource="com/lnganalysis/entities/domain/Exploration.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/Refinery.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/User.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/History.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/UserAudit.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/CrudeOil.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/Storage.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/NaturalGas.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/Lng.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/PipeLine.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/SupplyDemand.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/domain/Contracts.hbm.xml"></mapping>
		
		<mapping resource="com/lnganalysis/entities/source/ImportCountries.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/Countries.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/Region.hbm.xml"></mapping>  
		<mapping resource="com/lnganalysis/entities/source/SingleSource.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/Status.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/Type.hbm.xml"></mapping>	
		<mapping resource="com/lnganalysis/entities/source/RefinerySource.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/StorageSource.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/LngSource.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/PipeLineSource.hbm.xml"></mapping>
		<mapping resource="com/lnganalysis/entities/source/Report.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>          